<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
    <link href="../Styles/DevStats.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div class="header">
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "header-button" })
        @Html.ActionLink("Sprint Planner", "SprintPlanner", "Jira", null, new { @class = "header-button" })
        @Html.ActionLink("Defect Analysis", "DefectAnalysis", "Jira", null, new { @class = "header-button" })
        @Html.ActionLink("State Checker", "StateChecker", "Jira", null, new { @class = "header-button" })
        @Html.ActionLink("API Test", "ApiTest", "Jira", null, new { @class = "header-button" })
        @Html.ActionLink("API Audit", "Audit", "Jira", null, new { @class = "header-button" })
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
