<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/DevStats.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("MVP", "Vote", "Mvp")</li>
                <li>@Html.ActionLink("KPI", "Quality", "DeveloperKPI")</li>
                <li>@Html.ActionLink("Sprint Planner", "SprintPlanner", "Jira")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Defect Analysis", "Analysis", "DefectReport")</li>
                        <li>@Html.ActionLink("Jira Defect Summary", "JiraSummary", "DefectReport")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("API Audit", "Audit", "Jira")</li>
                        <li>@Html.ActionLink("API Execution", "ApiTest", "Jira")</li>
                        <li>@Html.ActionLink("State Checker", "StateChecker", "Jira")</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
            </ul>
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
    </div>
</body>
</html>
