@{
    Layout = "~/Views/Shared/Shared.cshtml";
}

@foreach (var summaryCollection in Model.Summaries)
{
    var doneHeader = false;

    <h2>@summaryCollection.SummaryTitle</h2>
    <table class="table table-striped">
        @foreach (var summary in summaryCollection.Summaries)
        {
            if (!doneHeader)
            {
                <tr>
                    <th class="text">Module</th>
                    @foreach (var detail in summary.MonthlyBreakdown)
                    {
                        <th class="numeric">@detail.Key</th>
                    }
                </tr>

                doneHeader = true;
            }

            <tr>
                <td class="text">@summary.Module</td>
                @foreach (var detail in summary.MonthlyBreakdown)
                {
                    <td class="numeric">@detail.Value</td>
                }
            </tr>
        }

        @if (Model.ShowTotals)
        {
            <tr>
                <th class="text">Totals</th>
                @foreach (var total in summaryCollection.Totals.MonthlyBreakdown)
                {
                    <th class="numeric">@total.Value</th>
                }
            </tr>
        }        
    </table>
}