@model DevStats.Models.Jira.StateCheckerModel

@{
    Layout = "~/Views/Shared/Shared.cshtml";
    Page.Title = "Jira Issue State Checker";
}

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="stateRequestData">Enter Jira Ids here, branch names are also accepted as Ids are evaluted using regular expressions:</label>
        @Html.TextArea("stateRequestData", "", new { @class = "form-control free-text" })
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}

@if (Model.HasError)
{
    <br />
    <div class="alert alert-danger alert-dismissible"><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>@Model.ErrorMessage</div>
}

@if (Model.Summaries != null)
{
    <table class="table table-striped" style="margin-top: 10px;">
        <thead>
            <tr>
                <th>Jira Id</th>
                <th>Type</th>
                <th>Title</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var summary in Model.Summaries)
            {
                <tr>
                    <td>@summary.Id</td>
                    <td>@summary.Type</td>
                    <td>@summary.Title</td>
                    <td>@summary.State</td>
                </tr>
            }
        </tbody>
    </table>
}