@model DevStats.Models.Account.LoginModel

@{
    Layout = "~/Views/Shared/Shared.cshtml";
}

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account"))
    {
        @Html.AntiForgeryToken()
        <h1>Login to Devstats</h1>
        <hr />
        @Html.ValidationSummary(true)
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <br />
        <div class="form-group">
            <label>@Html.CheckBoxFor(m => m.RememberMe) Remember me</label>
        </div>
        <div>
            <div>
                <input type="submit" value="Log in" class="btn btn-primary" />
                @Html.ActionLink("Reset password", "ResetPasswordRequest", "Account", new { @class = "btn btn-warning" })
            </div>
        </div>
        @Html.HiddenFor(m => m.ReturnUrl);
    }
</section>