@model  DevStats.Models.Account.RegisterModel

@{
    Layout = "~/Views/Shared/Shared.cshtml";
    Page.Title = "Register User";
}

<section id="loginForm">
    @using (Html.BeginForm("Register", "Account"))
    {
        @Html.AntiForgeryToken()
        <h1>Create User</h1>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
            @Html.DropDownListFor(m => m.Role, new SelectList(Model.Roles), new { @class = "form-control" })
        </div>
        <input type="submit" value="Create User" class="btn btn-primary" />
    }
</section>