@model DevStats.Models.Account.ResetPasswordModel

@{
    Layout = "~/Views/Shared/Shared.cshtml";
    Page.Title = "Password Reset";
}

<section id="resetForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h1>Password Reset</h1>
        <div>
            <span>Email Address: @Model.EmailAddress</span>
            @Html.HiddenFor(m => m.EmailAddress)
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </div>
        <div>
            <span>Reset Token: @Model.Token</span>
            @Html.HiddenFor(m => m.Token)
        </div>
        <div>
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
        </div>
        @Html.ValidationSummary(true)
        <div>
            <div>
                <input type="submit" value="Reset Password" class="btn btn-default" />
            </div>
        </div>
    }
</section>