@model DevStats.Models.Account.ResetPasswordModel

@{
    Layout = "~/Views/Shared/Shared.cshtml";
    Page.Title = "Password Reset";
}

<section id="resetForm">

    <h1>Password Reset</h1>
    <div>
        <span>Please note that passwords should match the following rules:</span>
        <ul>
            <li>Must be 8 to 50 characters in length</li>
            <li>Must contain at least 1 Upper Case character</li>
            <li>Must contain at least 1 Lower Case character</li>
            <li>Must contain at least 1 Numeric character</li>
            <li>Must contain at least 1 Special character</li>
        </ul>
    </div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @readonly = true })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Token, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Token, new { @class = "form-control", @readonly = true })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ComparePassword, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.ComparePassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ComparePassword)
        </div>
        @Html.ValidationSummary(true)
        <div>
            <div>
                <input type="submit" value="Reset Password" class="btn btn-primary" />
            </div>
        </div>
    }
</section>