@model DevStats.Models.Jira.DefectAnalysisModel

@{
    Layout = "~/Views/Shared/Shared.cshtml";
    Page.Title = "Jira Defect Summary";
}

<div class="btn-group">
    <a id="btnShowInline" class="btn btn-primary" onclick="javascript:showInline();">Show Inline</a>
    <a id="btnShowBroken" class="btn btn-primary disabled" onclick="javascript:showBrokenDown();">Show Broken Down</a>
</div>

<div id="div-broken-down">
    @{
        var total = 0;
    }
    @foreach (var report in Model.Reports)
    {

        <h1>@report.Key</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reportItem in report.Value)
                {
                    total += reportItem.Items;
                    <tr>
                        <td>@reportItem.DisplayCategory</td>
                        <td>@reportItem.Items</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <th>Total</th>
                <th>@total</th>
            </tfoot>
        </table>
    }
</div>

@{
    var totalInternal = 0;
    var totalExternal = 0;
    var totalAll = 0;
}

<div id="div-inline-report" style="display: none;">
    <table class="table table-striped" ">
        <thead>
            <tr>
                <th>Category</th>
                <th>Internal</th>
                <th>External</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reportItem in Model.InlineReport)
            {
                totalInternal += reportItem.InternallyReported;
                totalExternal += reportItem.ExternallyReported;
                totalAll += reportItem.AllReported;
                <tr>
                    <td>@reportItem.DisplayCategory</td>
                    <td>@reportItem.InternallyReported</td>
                    <td>@reportItem.ExternallyReported</td>
                    <td>@reportItem.AllReported</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th>@totalInternal</th>
                <th>@totalExternal</th>
                <th>@totalAll</th>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    function showInline() {
        document.getElementById('div-broken-down').style.display = 'none';
        document.getElementById('div-inline-report').style.display = 'block';

        $("#btnShowInline").addClass("disabled");
        $("#btnShowBroken").removeClass("disabled");
    }

    function showBrokenDown() {
        document.getElementById('div-broken-down').style.display = 'block';
        document.getElementById('div-inline-report').style.display = 'none';

        $("#btnShowInline").removeClass("disabled");
        $("#btnShowBroken").addClass("disabled");
    }
</script>
